certifi==2017.11.5
chardet==3.0.4
click==6.7
coverage==4.5.1
Django==1.11.7
dominate==2.3.1
Faker==0.8.12
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
fnvhash==0.1.0
future==0.16.0
gTTS==1.2.2
gTTS-token==1.1.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.2
playsound==1.2.2
psycopg2==2.7.4
PyAudio==0.2.11
pycurl==7.43.0.1
pyglet==1.3.0
pypiwin32==219
python-dateutil==2.7.0
pyttsx==1.1
pyttsx3==2.6
pytz==2017.3

requests==2.18.4
six==1.11.0
SpeechRecognition==3.7.1
SQLAlchemy==1.2.4
text-unidecode==1.2
urllib3==1.22
virtualenv==15.1.0
virtualenvwrapper-win==1.2.4
visitor==0.1.3
Werkzeug==0.14.1
WTForms==2.1
